@import "tailwindcss";

@import "flowbite";


/* @tailwind utilities; */

/* Configuración para html y body */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Configuración para el root de React */
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Configuración para el contenedor principal */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* El contenido principal debe crecer para ocupar el espacio disponible */
.main-content {
  flex: 1;
}

/* El footer se mantendrá al fondo */
.footer {
  margin-top: auto;
}